* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  background-color: #509ae9;
}

header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-logo {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

header .list-menu ul li {
  margin-left: 20px;
}

header .list-menu ul {
  list-style: none;
  display: flex;
  text-transform: capitalize;
  justify-content: space-between;
}

header .list-menu ul a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

header .list-menu ul .navbar__link--active {
  border-bottom: 3px solid #1a6af1;
  transform: translateY(-2px);
  transition: border-bottom 0.5s ease-in-out;
}

header .bcg-menu {
  height: 15px;
}

header .bcg-menu svg {
  width: 100%;
}

h1.Title {
  color: green;
  text-transform: initial;
  text-align: center;
}

form .form-group {
  text-align: center;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form .form-group label {
  width: 58px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: initial;
}

input {
  height: 40px;
  min-width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  border: 1px solid black;
}

.img-protocol svg {
  width: 100%;
  height: 100%;
}

.MuiButtonBase-root.btn-clear {
  border: 1px solid green;
  color: green;
  text-transform: capitalize;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  font-size: 15px;
  font-weight: 600;
}

.box {
  padding: 30px;
}

.box p {
  font-family: "Arial, tahoma, verdana";
  color: #393030;
  font-weight: 500;
  line-height: 1.5;
}

.box p.obs-search {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 0;
  padding-bottom: 20px;
}

/*Media*/
@media only screen and (max-width: 600px) {
  header .header-logo {
    display: block;
  }

  header .header-logo .logoLu svg {
    height: 80px;
  }

  header .list-menu ul li {
    margin-left: 8px;
  }
}

@media only screen and (max-width: 425px) {
  header .header-logo .logoLu svg {
    display: none;
    height: 80px;
  }

  header .list-menu ul {
    display: block;
  }

  header .list-menu ul li {
    padding: 10px 0;
    text-align: center;
  }
}
